* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
.about-container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.about-container > h1 {
    font-size: 50px;
}
.about-container article {
    width: 90%;
    height: 76vh;
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 30px;
}
.about-container article section img {
    width: 100%;
    height: 100%;
}
.about-container .description .empty {
    width: 200px;
    height: 280px;
    border: 10px solid blueviolet;
}
.about-container .description .content{
    position: relative;
}
.about-container .description .pets-part {
    position: absolute;
    top: 50px;
    left: 60px;
    width: 80%;
    padding: 20px;
    display: grid;
    gap: 20px;
    letter-spacing: 2px;
    background-color: white;
}
.about-container .description .content h1 {
    color: indigo;
}
.about-container .description .content h6 {
    position: absolute;
    bottom: 50px;
    left: 40%;
    padding-bottom: 2px;
    color: gold;
    border-bottom: 2px solid gold ;
}
.about-container .description .mission {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(245, 241, 241);
    height: 150px;
    margin-top: 30px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.about-container .description .mission div {
    position: relative;
    width: 150px;
    text-align: center;
}
.about-container .description .mission h1 {
    font-size: 80px;
    color: gray;
    opacity: 0.3;
}
.about-container .description .mission h5 {
    position: absolute;
    top: 50px;
    left: 24px;
    color: gray;
}
.about-container .description .mission .m1 {
    color: rgb(175, 90, 255);
}
@media screen and (min-width:930px) and (max-width:1200px) {
    .about-container .description .content h6 {
        bottom: 30px;
        left: 60%;
    }
    .about-container .description .pets-part {
        top: 30px;
        left: 60px;
    }
}
@media screen and (min-width:580px) and (max-width:930px) {
    .about-container article {
        grid-template-columns: 100%;
    }
    .about-container .description .empty {
        height: 50vh;
    }
    .about-container .description .pets-part {
        top: 30px;
        left: 60px;
    }
    .about-container .description .content h6 {
        left: 50%;
        bottom: 40px;

    }
}
@media screen and (min-width:420px) and (max-width:580px) {
    .about-container article {
        grid-template-columns: 100%;
    }
    .about-container .description .empty {
        height: 60vh;
    }
    .about-container .description .pets-part {
        top: 30px;
        left: 60px;
    }
    .about-container .description .content h6 {
        left: 60%;
        bottom: 40px;

    }
}
@media screen and (min-width:300px) and (max-width:420px) {
    .about-container article {
        grid-template-columns: 100%;
    }
    .about-container .description .empty {
        height: 76vh;
    }
    .about-container .description .pets-part {
        top: 30px;
        left: 40px;
    }
    .about-container .description .content h6 {
        left: 66%;
        bottom: 44px;

    }
    .about-container .description ,.mission div h5 {
        bottom: 80px;
    }
}